.v-application.v-application.v-application
    font-family: "SF Pro TC", "SF Pro Text", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Microsoft JhengHei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma, Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, 微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", Roboto, "Helvetica Neue", "Hiragino Maru Gothic ProN", メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif
main.v-content
    padding: 0 !important
header.theme--dark.v-sheet
    background-color: rgba(0, 0, 0, 0.5)
    backdrop-filter: blur(3px)
#banner
    background-image: url('/background.jpg')
    background-size: cover
    background-color: #010b0a
    background-position: center
    color: #FFF
    height: 50vh
    min-height: 410px
    display: flex
    justify-content: center
    align-items: center
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    font-weight: bold
    .banner__title
        font-size: 3em
    .banner__subtitle
        font-size: 2em
    img
        float: left

@media screen and (max-width: 600.99px)
    #banner
        font-size: 10px
        text-align: center
        img
            float: none
.landing__container
    text-align: center
    >section+section
        margin-top: 32px
.landing__title
    font-size: 1.75rem
    position: relative
    display: inline-block
    padding-bottom: 8px
    margin-bottom: 8px
    color: #311B92
    &::before
        content: ''
        position: absolute
        background: #1976D2
        bottom: 0
        left: 0
        right: 0
        margin: auto
        height: 3px
        width: 1.125em
        border-radius: 500em
    & + p
        line-height: 1.5em
.service__item
    border-radius: 8px
    margin: 16px
    padding: 16px 0
    color: #FFF
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13)
    transition: all .32s ease
    background: linear-gradient(135deg, #1E88E5, #1565C0)
    .service__item__icon
        height: 86px
        width: 86px
        margin: 0 auto
        border-radius: 500em
        background: rgba(255,255,255,.1)
        i
            color: #FFF
            font-size: 86px
            transform: scale(.5)
    .service__item__title
        margin-top: 8px
.nakama
    a
        display: inline-block
        width: 300px
        height: 64px
        background-repeat: none
        background-size: contain
        background-position: center
        margin: 5px